pipelines/pl_data_quality_checks.json
{
  "name": "pl_data_quality_checks",
  "properties": {
    "description": "Post-load data quality validation with row count, null check, and freshness assertions",
    "activities": [
      {
        "name": "GetDQRules",
        "type": "Lookup",
        "dependsOn": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": "SELECT rule_id, table_name, check_type, threshold, query FROM control.dq_rules WHERE is_active = 1"
          },
          "dataset": { "referenceName": "ds_control_db", "type": "DatasetReference" },
          "firstRowOnly": false
        }
      },
      {
        "name": "ForEachRule",
        "type": "ForEach",
        "dependsOn": [
          { "activity": "GetDQRules", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "isSequential": false,
          "batchCount": 8,
          "items": { "value": "@activity('GetDQRules').output.value", "type": "Expression" },
          "activities": [
            {
              "name": "RunDQCheck",
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "SnowflakeSource",
                  "query": "@{item().query}"
                },
                "dataset": { "referenceName": "ds_snowflake_staging", "type": "DatasetReference" }
              }
            },
            {
              "name": "LogDQResult",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [
                { "activity": "RunDQCheck", "dependencyConditions": ["Completed"] }
              ],
              "typeProperties": {
                "storedProcedureName": "control.usp_log_dq_result",
                "storedProcedureParameters": {
                  "rule_id": { "value": "@{item().rule_id}", "type": "Int32" },
                  "table_name": { "value": "@{item().table_name}", "type": "String" },
                  "check_type": { "value": "@{item().check_type}", "type": "String" },
                  "result_value": { "value": "@{activity('RunDQCheck').output.firstRow.result}", "type": "String" },
                  "threshold": { "value": "@{item().threshold}", "type": "String" },
                  "passed": { "value": "@{if(greater(activity('RunDQCheck').output.firstRow.result, item().threshold), 'true', 'false')}", "type": "String" },
                  "run_timestamp": { "value": "@{utcnow()}", "type": "String" }
                }
              },
              "linkedServiceName": { "referenceName": "ls_control_db", "type": "LinkedServiceReference" }
            }
          ]
        }
      }
    ],
    "annotations": ["data-quality", "production", "validation"]
  }
}
